/* Universal Selector */

* {
  margin:2px;
  padding:4px;
}

body {
   position: relative;
   font-family: inherit;
   font-size: 40px;
   background-color:rgb(76, 81, 105);
   color: rgb(3, 12, 37)
 } 
.text-right {
  text-align: right;
}

 h1,
h2 {
  margin: 10px;
}

h2 {
  color:rgb(0, 0, 0)
}

main {
  padding: 60px 0;
}

li {
  display: inline;
  padding: 20px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #a2a3a3;
}

header,
footer {
  height: 50px;
  width: 100%;
  line-height: 50px;
  background-color: #224c7c;
}

header {
  position: fixed;
  border-bottom: 10px solid #6d6f7e;
}
.april {
  text-align: center;
}

figure {
  margin-bottom: 40px;
}

img {
  display: block;
  margin: 10px auto;
}

section {
  margin-bottom: 0;
  padding: 20px 5px 20px 5px;
  border-top: 3px solid #949bdd;
  background-color:  #656b8f;
}

form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 500px;
  padding: 10px;
  border: 5px solid #0b0622;
  border-radius: 20px;
}

label {
  display: inline-block;
  width: 100px;
}
  
input, 
textarea {
  box-sizing: border-box;
  width: 300px;
  border: 1px solid #4F4846;
}

textarea {
  vertical-align: top;
  height: 60px;
}
  
button {
  height: 50px;
  width: 80px;
  background-color: #4F4846;
  color: #FDF8F5;
}

.sending {
  text-align: center;
}
 
/* Class Selectors */
.about {
  text-align: center;
}

.info {
  text-align: right; color: rgb(2, 2, 7)
}

footer {
  position: absolute;
  margin-top: 0;
  bottom: 0;
  border-bottom: 5px solid #13086e;
  color: #FDF8F5;    
}
